*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ASPETTO MOBILE */
@media screen and (min-width: 320px) {
  body {
    background-color: #ffffff;
    /* background-color: rebeccapurple; */
  }
  .container {
    background-color: #fbf7e3;
    /* background-color: red; */
  }

  .card2 {
    display: flex;
    flex-direction: column;
  }
}

/* ASPETTO DESKTOP */
@media screen and (min-width: 1200px) {
  .container {
    margin: 30px;
    border-radius: 25px;
  }

  .card2 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: #612406;
  }

  .card2 img {
    margin-right: 10px;
  }
}
