*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}

/* ASPETTO MOBILE */
@media screen and (min-width: 320px) {
  body {
    background-color: #ffffff;
  }

  .container {
    width: 100%;
    background-color: #fbf7e3;
    border-radius: 25px;
  }

  .card2 {
    display: flex;
    flex-direction: column-reverse;
    margin: 15px;
  }

  .card2 img {
    margin-bottom: 15px;
  }
}

/* ASPETTO DESKTOP */
@media screen and (min-width: 1200px) {
  .container {
    background-color: #fbf7e3;
    border-radius: 30px;
    padding: 2rem;
    /* margin: 30px; */
    display: flex;
    gap: 2rem;
  }

  .card2 {
    justify-content: space-around;
    padding: 20px;
    color: #612406;
  }

  .card2 img {
    margin-right: 10px;
  }
}
